<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jmu.oscm.mapper.IncentiveRatioMapper">

    <resultMap id="mapper" type="edu.jmu.oscm.model.IncentiveRatio">
        <id property="id" column="id"/>
        <result property="year" column="year"/>
        <result property="interestRate" column="interest_rate"/>
        <result property="incentiveRatio" column="incentive_ratio"/>
        <result property="maxLimit" column="max_limit"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <select id="select" resultMap="mapper">
        SELECT * FROM ad_incentive_ratio WHERE year=#{year}
    </select>

</mapper>