<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jmu.oscm.mapper.myUserMapper">
    <resultMap id="userMapper" type="edu.jmu.oscm.model.User">
        <id column="username" property="username"/>
        <id column="password" property="password"/>
    </resultMap>
    <select id="queryAllUser" resultMap="userMapper">
        SELECT username, password
        FROM user
    </select>
</mapper>