<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jmu.oscm.mapper.ProportionMapper">
    <resultMap id="ProportionItem" type="edu.jmu.oscm.model.Proportion">
        <id column="id" property="id"/>
        <result column="REPORT_ITEM_ID" property="reportItemId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="proportion" property="proportion"/>
        <result column="accumulate_proportion" property="accumulateProportion"/>
        <result column="asset_or_debt" property="assetOrDebt"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <resultMap id="ProportionItemByYearAndMonthAndReportId" type="edu.jmu.oscm.model.Proportion">
        <id column="id" property="id"/>
        <result column="REPORT_ITEM_ID" property="reportItemId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="proportion" property="proportion"/>
        <result column="accumulate_proportion" property="accumulateProportion"/>
        <result column="asset_or_debt" property="assetOrDebt"/>
        <result column="create_date" property="createDate"/>

        <collection property="reportItemList" ofType="edu.jmu.oscm.model.ReportItem">
            <id property="id" column="ID"/>
            <result property="reportId" column="REPORT_ID"/>
            <result property="itemId" column="ITEM_ID"/>
            <result property="orderNum" column="ORDER_NUM"/>
            <result property="state" column="STATE"/>
            <result property="modifyTime" column="MODIFY_TIME"/>
        </collection>
    </resultMap>

    <insert id="insertProportion" parameterType="edu.jmu.oscm.model.Proportion">
        INSERT INTO ad_item_proportion(ITEM_ID,year,month,proportion,accumulate_proportion,asset_or_debt,create_date)
        values (#{report_item_id},#{year},#{month},#{proportion},#{accumulate_proportion},#{asset_or_debt},#{create_date})
    </insert>

    <delete id="deleteById">
        delete from ad_item_proportion where id = (#{id})
    </delete>

    <delete id="deleteAll">
        DELETE FROM ad_item_proportion WHERE id!=0
    </delete>

    <select id="getAllProportion" resultMap="ProportionItem">
        select * from ad_item_proportion
    </select>

    <select id="selectProportionById" resultMap="ProportionItem">
        select * from ad_item_proportion where id = #{id}
    </select>

    <select id="selectProportionByYearAndMonth" resultMap="ProportionItem">
        select * from ad_item_proportion where year = #{year} and month = #{month}
    </select>

    <select id="selectProportionByYearAndMonthAndReportId" resultMap="ProportionItemByYearAndMonthAndReportId">
        SELECT * FROM ad_item_proportion ,report_item WHERE (ad_item_proportion.ITEM_ID = #{reportId}) AND (report_item.ITEM_ID = ad_item_proportion.ITEM_ID)
    </select>

</mapper>