<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jmu.oscm.mapper.TargetMatchingMapper">

    <resultMap id="mapper" type="edu.jmu.oscm.model.BalanceTargetValue">
        <result column="REPORT_ITEM_ID" property="reportItemId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="last_month_balance" property="lastMonthBalance"/>
        <result column="plan_month_target_value" property="planMonthTargetValue"/>
        <association property="reportItemInstance" column="{reportItemId=REPORT_ITEM_ID,year=year,month=month}" select="edu.jmu.oscm.mapper.ReportItemInstanceMapper.getReportItemInstanceByReportItemId"/>
        <collection property="itemEmployee" column="REPORT_ITEM_ID" select="edu.jmu.oscm.mapper.ItemEmployeeMapper.selectItemEmployee"/>
    </resultMap>

    <select id="getTargetMatching" resultMap="mapper">
        SELECT REPORT_ITEM_ID,year,month,last_month_balance,plan_month_target_value
        FROM ad_balance_target_value WHERE year=#{year} and month=#{month}
    </select>
</mapper>