<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jmu.oscm.mapper.ValueCreationMapper">

    <resultMap id="mapper" type="edu.jmu.oscm.model.ValueCreation">
        <id column="id" property="id"/>
        <result column="REPORT_ITEM_ID" property="reportItemId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="lowerTarget" property="lowerTarget"/>
        <result column="totalLowerTarget" property="totalLowerTarget"/>
        <result column="realLowerTarget" property="realLowerTarget"/>
        <result column="realTotalLowerTarget" property="realTotalLowerTarget"/>
        <result column="difference" property="difference"/>
        <result column="create_date" property="create_date"/>
    </resultMap>

    <insert id="insert" parameterType="edu.jmu.oscm.model.ValueCreation">
        INSERT ad_value_creation VALUES (#{id},#{reportItemId},#{year},#{month},#{lowerTarget},
        #{totalLowerTarget},#{realLowerTarget},#{realTotalLowerTarget},#{difference},#{create_date})
    </insert>

    <update id="update" parameterType="edu.jmu.oscm.model.ValueCreation">
        UPDATE ad_value_creation SET REPORT_ITEM_ID=#{reportItemId},year=#{year},month=#{month},lowerTarget=#{lowerTarget},
        totalLowerTarget=#{totalLowerTarget},realLowerTarget=#{realLowerTarget},realTotalLowerTarget=#{realTotalLowerTarget},difference=#{difference},create_date=#{create_date}
        WHERE id=#{id}
    </update>

    <update id="updates">

    </update>
    <delete id="deleteAll">
        DELETE FROM ad_value_creation
    </delete>

    <delete id="deleteById">
      DELETE FROM ad_value_creation WHERE id=#{id}
    </delete>

    <select id="selectAll" resultMap="mapper">
        SELECT * FROM ad_value_creation
    </select>

    <select id="selectByDate" resultMap="mapper">
        SELECT * FROM ad_value_creation WHERE year=#{year} AND month=#{month}
    </select>

</mapper>